{
	"isBatchTokenFile": false, // WILL USE batch_token.cfg FOR TOKENS IF SET AS "TRUE"
	"tokens": [{
			"token": "TOKEN1",
			"channelId": "CHANNEL FOR TOKEN1 TO USE"
		},
		{
			"token": "TOKEN2",
			"channelId": "CHANNEL FOR TOKEN2 TO USE"
		}
	],
	"mainAccount": "TOKEN OF MAIN ACCOUNT",
	"mainInfo": {
		"channel": "CHANNEL FOR MAIN ACCOUNT TO USE",
		"itemToUse": ["Adventure Voucher"],
		"adventureVoucherPrefer": "Space"
	},
	"webhook": "LINK OF WEBHOOK TO USE FOR LOGGING",
	"transfer": {
		"transferOnlyMode": false, // ENABLE TO ONLY USE TRANSFERRING
		"serverEventsDonateMode": false, // ENABLE TO DONATE ITEMS TO SERVERPOOL
		"serverEventsDonateMoney": false, // ENABLE TO DONATE COINS TO SERVERPOOL
		"serverEventsPayout": false, // ENABLE TO PAYOUT CONTENTS OF SERVERPOOL
		"payoutId": "ID OF USER TO PAY OUT TO"
	},
	"commands": [
		"beg",
		"postmemes",
		"highlow",
		"fish",
		"hunt",
		"dig",
		"trivia",
		"search",
		"crime",
		"stream",
	],
	"Blacklistitems": [
		"Trivia Trophy",
		"Life Saver",
		"Apple",
		"Lucky Horseshoe"
	],
	"searchLocations": [
		"dog",
		"air"
	],

	"autoDeposit": true, // ENABLE TO AUTOMATICALLY DEPOSIT COINS TO BANK
	"autoSell": false, // ENABLE TO AUTO-SELL ALL ITEMS [ NOT RECOMMENDED, MARKET IS BETTER ]
	"autoGift": false, // ENABLE TO USE MARKETSHARE TO TRANSFER ITEMS
	"autoBuy": true, // ENABLE TO AUTOBUY THE ITEMS LISTED BELOW
	"autoBuyItems": [
		"Life Saver",
		"Lucky Horseshoe"
	],
	"autoUse": [
		"Apple",
		"Lucky Horseshoe"
	],
	  
	"useDarkendTrivia": false,
	"cooldowns": {
		"market": {
			"minDelay": 3000,
			"maxDelay": 6000
		},
		"buttonClick": {
			"minDelay": 600,
			"maxDelay": 850
		},
		"trivia": {
			"minDelay": 600,
			"maxDelay": 1000
		},
		"commandInterval": {
			"minDelay": 2400,
			"maxDelay": 2800
		},
		"shortBreak": {
			"minDelay": 30000,
			"maxDelay": 90000
		},
		"longBreak": {
			"minDelay": 600000,
			"maxDelay": 4000000
		},
		"transfer": {
			"minDelay": 4000,
			"maxDelay": 8000
		},
		"serverEvents": {
			"minDelay": 3000,
			"maxDelay": 5000
		}
	}
}
