{
	"isBatchTokenFile": false,
	"tokens": [
		{
			"token": "token1",
			"channelId": "69420"
		},
		{
			"token": "token2",
			"channelId": "696969"
		}
	],
	"commands": [
		"beg",
		"postmemes",
		"highlow",
		"fish",
		"hunt",
		"dig",
		"trivia",
		"search",
		"crime",
		"stream",
		"scratch"

	],
	"autoScratch": {
		"scratchAmount": "1500"
	},
		"searchLocations":[
		"dog",
		"air"
	],

	"webhook": "webhookurl",
	"autoDeposit": true,
	"autoSell": false,
	"autoGift": false,
	"autoBuy":true,
	"autoUse":[
		"Apple",
		"Lucky Horseshoe"
	],
	"useDarkendTrivia":false,
	"dontLogUselessThings": true,
	
	"mainAccount": "main account token",
	"mainId": {
		"channel": "919831970001858610",
		"itemToUse": ["Adventure Voucher"],
		"adventureVoucherPrefer": "Space"
	},
	"transferOnlyMode": false,
	"serverEventsDonateMode": false,
	"serverEventsDonatePayout":true,

	"autoBuyItems": [
		"Life Saver",
		"Lucky Horseshoe"
	],

	"cooldowns": {
		"market": {
			"minDelay": 3000,
			"maxDelay": 6000
		},
		"buttonClick": {
			"minDelay": 600,
			"maxDelay": 850
		},
		"trivia": {
			"minDelay": 600,
			"maxDelay": 1000
		},
		"commandInterval": {
			"minDelay": 1800,
			"maxDelay": 2200
		},
		"shortBreak": {
			"minDelay": 30000,
			"maxDelay": 90000
		},
		"longBreak": {
			"minDelay": 600000,
			"maxDelay": 4000000
		},
		"transfer": {
			"minDelay": 4000,
			"maxDelay": 8000
		},
		"serverEvents": {
			"minDelay": 3000,
			"maxDelay": 5000
		}
	}
}
