<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slashy | Dank Memer</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/1031166956541333675/1057671549831880724/image.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    :root{
  --bs-dark: #212529;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  opacity: 0.8;
}

.shadow-dark {
  background: #070707;
}

.shadow-light {
  background: #D4C8C8;
}

@keyframes change {
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
  </style>
  </head>
  
  <body class="bg-dark" id="body">
    <nav class="navbar navbar-dark bg-dark" id="navbar">
      <div class="container-fluid"><a class="navbar-brand mb-0 h1" onclick="github()"><img src="https://media.discordapp.net/attachments/1031166956541333675/1057671549831880724/image.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> Slashy </a></div><a onclick="github()"></a>
      <form class="position-absolute top-0 end-0"><button style="margin-top: 7px;" class="btn btn-outline-success me-2" type="button" id="discordButton">Discord Server</button></form></a>
    </nav>
     <table class="table table-dark table-striped" style="margin-top: 20px;" id="table1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Accounts</th>
          <th scope="col">Total Wallet</th>
          <th scope="col">Total Bank</th>
          <th scope="col">Total Net Worth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>ㅤ</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr id="total">
          <th scope="row" id="total"></th>
          <td id="accounts"></td>
          <td id="totalwallet"></td>
          <td id="totalbank"></td>
          <td id="totalnet"></td>
        </tr>
     <table class="table table-dark table-striped" style="margin-top: 80px;" id="table2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Wallet</th>
          <th scope="col">Bank</th>
          <th scope="col">Net Worth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>ㅤ</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr id="hide0">
          <th scope="row" id="0"></th>
          <td id="name0"></td>
          <td id="wallet0"></td>
          <td id="bank0"></td>
          <td id="net0"></td>
        </tr>
        <tr id="hide1">
          <th scope="row" id="1"></th>
          <td id="name1"></td>
          <td id="wallet1"></td>
          <td id="bank1"></td>
          <td id="net1"></td>
        </tr>
        <tr id="hide2">
          <th scope="row" id="2"></th>
          <td id="name2"></td>
          <td id="wallet2"></td>
          <td id="bank2"></td>
          <td id="net2"></td>
        </tr>
        <tr id="hide3">
          <th scope="row" id="3"></th>
          <td id="name3"></td>
          <td id="wallet3"></td>
          <td id="bank3"></td>
          <td id="net3"></td>
        </tr>
        <tr id="hide4">
          <th scope="row" id="4"></th>
          <td id="name4"></td>
          <td id="wallet4"></td>
          <td id="bank4"></td>
          <td id="net4"></td>
        </tr>
        <tr id="hide5">
          <th scope="row" id="5"></th>
          <td id="name5"></td>
          <td id="wallet5"></td>
          <td id="bank5"></td>
          <td id="net5"></td>
        </tr>
        <tr id="hide6">
          <th scope="row" id="6"></th>
          <td id="name6"></td>
          <td id="wallet6"></td>
          <td id="bank6"></td>
          <td id="net6"></td>
        </tr>
        <tr id="hide7">
          <th scope="row" id="7"></th>
          <td id="name7"></td>
          <td id="wallet7"></td>
          <td id="bank7"></td>
          <td id="net7"></td>
        </tr>
        <tr id="hide8">
          <th scope="row" id="8"></th>
          <td id="name8"></td>
          <td id="wallet8"></td>
          <td id="bank8"></td>
          <td id="net8"></td>
        </tr>
        <tr id="hide9">
          <th scope="row" id="9"></th>
          <td id="name9"></td>
          <td id="wallet9"></td>
          <td id="bank9"></td>
          <td id="net9"></td>
        </tr>
        <tr id="hide10">
          <th scope="row" id="10"></th>
          <td id="name10"></td>
          <td id="wallet10"></td>
          <td id="bank10"></td>
          <td id="net10"></td>
        </tr>
        <tr id="hide11">
          <th scope="row" id="11"></th>
          <td id="name11"></td>
          <td id="wallet11"></td>
          <td id="bank11"></td>
          <td id="net11"></td>
        </tr>
        <tr id="hide12">
          <th scope="row" id="12"></th>
          <td id="name12"></td>
          <td id="wallet12"></td>
          <td id="bank12"></td>
          <td id="net12"></td>
        </tr>
        <tr id="hide13">
          <th scope="row" id="13"></th>
          <td id="name13"></td>
          <td id="wallet13"></td>
          <td id="bank13"></td>
          <td id="net13"></td>
        </tr>
        <tr id="hide14">
          <th scope="row" id="14"></th>
          <td id="name14"></td>
          <td id="wallet14"></td>
          <td id="bank14"></td>
          <td id="net14"></td>
        </tr>
        <tr id="hide15">
          <th scope="row" id="15"></th>
          <td id="name15"></td>
          <td id="wallet15"></td>
          <td id="bank15"></td>
          <td id="net15"></td>
        </tr>
        <tr id="hide16">
          <th scope="row" id="16"></th>
          <td id="name16"></td>
          <td id="wallet16"></td>
          <td id="bank16"></td>
          <td id="net16"></td>
        </tr>
        <tr id="hide17">
          <th scope="row" id="17"></th>
          <td id="name17"></td>
          <td id="wallet17"></td>
          <td id="bank17"></td>
          <td id="net17"></td>
        </tr>
        <tr id="hide18">
          <th scope="row" id="18"></th>
          <td id="name18"></td>
          <td id="wallet18"></td>
          <td id="bank18"></td>
          <td id="net18"></td>
        </tr>
        <tr id="hide19">
          <th scope="row" id="19"></th>
          <td id="name19"></td>
          <td id="wallet19"></td>
          <td id="bank19"></td>
          <td id="net19"></td>
        </tr>
        <tr id="hide20">
          <th scope="row" id="20"></th>
          <td id="name20"></td>
          <td id="wallet20"></td>
          <td id="bank20"></td>
          <td id="net20"></td>
        </tr>
        <tr id="hide21">
          <th scope="row" id="21"></th>
          <td id="name21"></td>
          <td id="wallet21"></td>
          <td id="bank21"></td>
          <td id="net21"></td>
        </tr>
        <tr id="hide22">
          <th scope="row" id="22"></th>
          <td id="name22"></td>
          <td id="wallet22"></td>
          <td id="bank22"></td>
          <td id="net22"></td>
        </tr>
        <tr id="hide23">
          <th scope="row" id="23"></th>
          <td id="name23"></td>
          <td id="wallet23"></td>
          <td id="bank23"></td>
          <td id="net23"></td>
        </tr>
        <tr id="hide24">
          <th scope="row" id="24"></th>
          <td id="name24"></td>
          <td id="wallet24"></td>
          <td id="bank24"></td>
          <td id="net24"></td>
        </tr>
        <tr id="hide25">
          <th scope="row" id="25"></th>
          <td id="name25"></td>
          <td id="wallet25"></td>
          <td id="bank25"></td>
          <td id="net25"></td>
        </tr>
        <tr id="hide26">
          <th scope="row" id="26"></th>
          <td id="name26"></td>
          <td id="wallet26"></td>
          <td id="bank26"></td>
          <td id="net26"></td>
        </tr>
        <tr id="hide27">
          <th scope="row" id="27"></th>
          <td id="name27"></td>
          <td id="wallet27"></td>
          <td id="bank27"></td>
          <td id="net27"></td>
        </tr>
        <tr id="hide28">
          <th scope="row" id="28"></th>
          <td id="name28"></td>
          <td id="wallet28"></td>
          <td id="bank28"></td>
          <td id="net28"></td>
        </tr>
        <tr id="hide29">
          <th scope="row" id="29"></th>
          <td id="name29"></td>
          <td id="wallet29"></td>
          <td id="bank29"></td>
          <td id="net29"></td>
        </tr>
        <tr id="hide30">
          <th scope="row" id="30"></th>
          <td id="name30"></td>
          <td id="wallet30"></td>
          <td id="bank30"></td>
          <td id="net30"></td>
        </tr>
        <tr id="hide31">
          <th scope="row" id="31"></th>
          <td id="name31"></td>
          <td id="wallet31"></td>
          <td id="bank31"></td>
          <td id="net31"></td>
        </tr>
        <tr id="hide32">
          <th scope="row" id="32"></th>
          <td id="name32"></td>
          <td id="wallet32"></td>
          <td id="bank32"></td>
          <td id="net32"></td>
        </tr>
        <tr id="hide33">
          <th scope="row" id="33"></th>
          <td id="name33"></td>
          <td id="wallet33"></td>
          <td id="bank33"></td>
          <td id="net33"></td>
        </tr>
        <tr id="hide34">
          <th scope="row" id="34"></th>
          <td id="name34"></td>
          <td id="wallet34"></td>
          <td id="bank34"></td>
          <td id="net34"></td>
        </tr>
        <tr id="hide35">
          <th scope="row" id="35"></th>
          <td id="name35"></td>
          <td id="wallet35"></td>
          <td id="bank35"></td>
          <td id="net35"></td>
        </tr>
        <tr id="hide36">
          <th scope="row" id="36"></th>
          <td id="name36"></td>
          <td id="wallet36"></td>
          <td id="bank36"></td>
          <td id="net36"></td>
        </tr>
        <tr id="hide37">
          <th scope="row" id="37"></th>
          <td id="name37"></td>
          <td id="wallet37"></td>
          <td id="bank37"></td>
          <td id="net37"></td>
        </tr>
        <tr id="hide38">
          <th scope="row" id="38"></th>
          <td id="name38"></td>
          <td id="wallet38"></td>
          <td id="bank38"></td>
          <td id="net38"></td>
        </tr>
        <tr id="hide39">
          <th scope="row" id="39"></th>
          <td id="name39"></td>
          <td id="wallet39"></td>
          <td id="bank39"></td>
          <td id="net39"></td>
        </tr>
        <tr id="hide40">
          <th scope="row" id="40"></th>
          <td id="name40"></td>
          <td id="wallet40"></td>
          <td id="bank40"></td>
          <td id="net40"></td>
        </tr>
        <tr id="hide41">
          <th scope="row" id="41"></th>
          <td id="name41"></td>
          <td id="wallet41"></td>
          <td id="bank41"></td>
          <td id="net41"></td>
        </tr>
        <tr id="hide42">
          <th scope="row" id="42"></th>
          <td id="name42"></td>
          <td id="wallet42"></td>
          <td id="bank42"></td>
          <td id="net42"></td>
        </tr>
        <tr id="hide43">
          <th scope="row" id="43"></th>
          <td id="name43"></td>
          <td id="wallet43"></td>
          <td id="bank43"></td>
          <td id="net43"></td>
        </tr>
        <tr id="hide44">
          <th scope="row" id="44"></th>
          <td id="name44"></td>
          <td id="wallet44"></td>
          <td id="bank44"></td>
          <td id="net44"></td>
        </tr>
        <tr id="hide45">
          <th scope="row" id="45"></th>
          <td id="name45"></td>
          <td id="wallet45"></td>
          <td id="bank45"></td>
          <td id="net45"></td>
        </tr>
        <tr id="hide46">
          <th scope="row" id="46"></th>
          <td id="name46"></td>
          <td id="wallet46"></td>
          <td id="bank46"></td>
          <td id="net46"></td>
        </tr>
        <tr id="hide47">
          <th scope="row" id="47"></th>
          <td id="name47"></td>
          <td id="wallet47"></td>
          <td id="bank47"></td>
          <td id="net47"></td>
        </tr>
        <tr id="hide48">
          <th scope="row" id="48"></th>
          <td id="name48"></td>
          <td id="wallet48"></td>
          <td id="bank48"></td>
          <td id="net48"></td>
        </tr>
        <tr id="hide49">
          <th scope="row" id="49"></th>
          <td id="name49"></td>
          <td id="wallet49"></td>
          <td id="bank49"></td>
          <td id="net49"></td>
        </tr>
        <tr id="hide50">
          <th scope="row" id="50"></th>
          <td id="name50"></td>
          <td id="wallet50"></td>
          <td id="bank50"></td>
          <td id="net50"></td>
        </tr>
        <tr id="hide51">
          <th scope="row" id="51"></th>
          <td id="name51"></td>
          <td id="wallet51"></td>
          <td id="bank51"></td>
          <td id="net51"></td>
        </tr>
        <tr id="hide52">
          <th scope="row" id="52"></th>
          <td id="name52"></td>
          <td id="wallet52"></td>
          <td id="bank52"></td>
          <td id="net52"></td>
        </tr>
        <tr id="hide53">
          <th scope="row" id="53"></th>
          <td id="name53"></td>
          <td id="wallet53"></td>
          <td id="bank53"></td>
          <td id="net53"></td>
        </tr>
        <tr id="hide54">
          <th scope="row" id="54"></th>
          <td id="name54"></td>
          <td id="wallet54"></td>
          <td id="bank54"></td>
          <td id="net54"></td>
        </tr>
        <tr id="hide55">
          <th scope="row" id="55"></th>
          <td id="name55"></td>
          <td id="wallet55"></td>
          <td id="bank55"></td>
          <td id="net55"></td>
        </tr>
        <tr id="hide56">
          <th scope="row" id="56"></th>
          <td id="name56"></td>
          <td id="wallet56"></td>
          <td id="bank56"></td>
          <td id="net56"></td>
        </tr>
        <tr id="hide57">
          <th scope="row" id="57"></th>
          <td id="name57"></td>
          <td id="wallet57"></td>
          <td id="bank57"></td>
          <td id="net57"></td>
        </tr>
        <tr id="hide58">
          <th scope="row" id="58"></th>
          <td id="name58"></td>
          <td id="wallet58"></td>
          <td id="bank58"></td>
          <td id="net58"></td>
        </tr>
        <tr id="hide59">
          <th scope="row" id="59"></th>
          <td id="name59"></td>
          <td id="wallet59"></td>
          <td id="bank59"></td>
          <td id="net59"></td>
        </tr>
        <tr id="hide60">
          <th scope="row" id="60"></th>
          <td id="name60"></td>
          <td id="wallet60"></td>
          <td id="bank60"></td>
          <td id="net60"></td>
        </tr>
        <tr id="hide61">
          <th scope="row" id="61"></th>
          <td id="name61"></td>
          <td id="wallet61"></td>
          <td id="bank61"></td>
          <td id="net61"></td>
        </tr>
        <tr id="hide62">
          <th scope="row" id="62"></th>
          <td id="name62"></td>
          <td id="wallet62"></td>
          <td id="bank62"></td>
          <td id="net62"></td>
        </tr>
        <tr id="hide63">
          <th scope="row" id="63"></th>
          <td id="name63"></td>
          <td id="wallet63"></td>
          <td id="bank63"></td>
          <td id="net63"></td>
        </tr>
        <tr id="hide64">
          <th scope="row" id="64"></th>
          <td id="name64"></td>
          <td id="wallet64"></td>
          <td id="bank64"></td>
          <td id="net64"></td>
        </tr>
        <tr id="hide65">
          <th scope="row" id="65"></th>
          <td id="name65"></td>
          <td id="wallet65"></td>
          <td id="bank65"></td>
          <td id="net65"></td>
        </tr>
        <tr id="hide66">
          <th scope="row" id="66"></th>
          <td id="name66"></td>
          <td id="wallet66"></td>
          <td id="bank66"></td>
          <td id="net66"></td>
        </tr>
        <tr id="hide67">
          <th scope="row" id="67"></th>
          <td id="name67"></td>
          <td id="wallet67"></td>
          <td id="bank67"></td>
          <td id="net67"></td>
        </tr>
        <tr id="hide68">
          <th scope="row" id="68"></th>
          <td id="name68"></td>
          <td id="wallet68"></td>
          <td id="bank68"></td>
          <td id="net68"></td>
        </tr>
        <tr id="hide69">
          <th scope="row" id="69"></th>
          <td id="name69"></td>
          <td id="wallet69"></td>
          <td id="bank69"></td>
          <td id="net69"></td>
        </tr>
        <tr id="hide70">
          <th scope="row" id="70"></th>
          <td id="name70"></td>
          <td id="wallet70"></td>
          <td id="bank70"></td>
          <td id="net70"></td>
        </tr>
        <tr id="hide71">
          <th scope="row" id="71"></th>
          <td id="name71"></td>
          <td id="wallet71"></td>
          <td id="bank71"></td>
          <td id="net71"></td>
        </tr>
        <tr id="hide72">
          <th scope="row" id="72"></th>
          <td id="name72"></td>
          <td id="wallet72"></td>
          <td id="bank72"></td>
          <td id="net72"></td>
        </tr>
        <tr id="hide73">
          <th scope="row" id="73"></th>
          <td id="name73"></td>
          <td id="wallet73"></td>
          <td id="bank73"></td>
          <td id="net73"></td>
        </tr>
        <tr id="hide74">
          <th scope="row" id="74"></th>
          <td id="name74"></td>
          <td id="wallet74"></td>
          <td id="bank74"></td>
          <td id="net74"></td>
        </tr>
        <tr id="hide75">
          <th scope="row" id="75"></th>
          <td id="name75"></td>
          <td id="wallet75"></td>
          <td id="bank75"></td>
          <td id="net75"></td>
        </tr>
        <tr id="hide76">
          <th scope="row" id="76"></th>
          <td id="name76"></td>
          <td id="wallet76"></td>
          <td id="bank76"></td>
          <td id="net76"></td>
        </tr>
        <tr id="hide77">
          <th scope="row" id="77"></th>
          <td id="name77"></td>
          <td id="wallet77"></td>
          <td id="bank77"></td>
          <td id="net77"></td>
        </tr>
        <tr id="hide78">
          <th scope="row" id="78"></th>
          <td id="name78"></td>
          <td id="wallet78"></td>
          <td id="bank78"></td>
          <td id="net78"></td>
        </tr>
        <tr id="hide79">
          <th scope="row" id="79"></th>
          <td id="name79"></td>
          <td id="wallet79"></td>
          <td id="bank79"></td>
          <td id="net79"></td>
        </tr>
        <tr id="hide80">
          <th scope="row" id="80"></th>
          <td id="name80"></td>
          <td id="wallet80"></td>
          <td id="bank80"></td>
          <td id="net80"></td>
        </tr>
        <tr id="hide81">
          <th scope="row" id="81"></th>
          <td id="name81"></td>
          <td id="wallet81"></td>
          <td id="bank81"></td>
          <td id="net81"></td>
        </tr>
        <tr id="hide82">
          <th scope="row" id="82"></th>
          <td id="name82"></td>
          <td id="wallet82"></td>
          <td id="bank82"></td>
          <td id="net82"></td>
        </tr>
        <tr id="hide83">
          <th scope="row" id="83"></th>
          <td id="name83"></td>
          <td id="wallet83"></td>
          <td id="bank83"></td>
          <td id="net83"></td>
        </tr>
        <tr id="hide84">
          <th scope="row" id="84"></th>
          <td id="name84"></td>
          <td id="wallet84"></td>
          <td id="bank84"></td>
          <td id="net84"></td>
        </tr>
        <tr id="hide85">
          <th scope="row" id="85"></th>
          <td id="name85"></td>
          <td id="wallet85"></td>
          <td id="bank85"></td>
          <td id="net85"></td>
        </tr>
        <tr id="hide86">
          <th scope="row" id="86"></th>
          <td id="name86"></td>
          <td id="wallet86"></td>
          <td id="bank86"></td>
          <td id="net86"></td>
        </tr>
        <tr id="hide87">
          <th scope="row" id="87"></th>
          <td id="name87"></td>
          <td id="wallet87"></td>
          <td id="bank87"></td>
          <td id="net87"></td>
        </tr>
        <tr id="hide88">
          <th scope="row" id="88"></th>
          <td id="name88"></td>
          <td id="wallet88"></td>
          <td id="bank88"></td>
          <td id="net88"></td>
        </tr>
        <tr id="hide89">
          <th scope="row" id="89"></th>
          <td id="name89"></td>
          <td id="wallet89"></td>
          <td id="bank89"></td>
          <td id="net89"></td>
        </tr>
        <tr id="hide90">
          <th scope="row" id="90"></th>
          <td id="name90"></td>
          <td id="wallet90"></td>
          <td id="bank90"></td>
          <td id="net90"></td>
        </tr>
        <tr id="hide91">
          <th scope="row" id="91"></th>
          <td id="name91"></td>
          <td id="wallet91"></td>
          <td id="bank91"></td>
          <td id="net91"></td>
        </tr>
        <tr id="hide92">
          <th scope="row" id="92"></th>
          <td id="name92"></td>
          <td id="wallet92"></td>
          <td id="bank92"></td>
          <td id="net92"></td>
        </tr>
        <tr id="hide93">
          <th scope="row" id="93"></th>
          <td id="name93"></td>
          <td id="wallet93"></td>
          <td id="bank93"></td>
          <td id="net93"></td>
        </tr>
        <tr id="hide94">
          <th scope="row" id="94"></th>
          <td id="name94"></td>
          <td id="wallet94"></td>
          <td id="bank94"></td>
          <td id="net94"></td>
        </tr>
        <tr id="hide95">
          <th scope="row" id="95"></th>
          <td id="name95"></td>
          <td id="wallet95"></td>
          <td id="bank95"></td>
          <td id="net95"></td>
        </tr>
        <tr id="hide96">
          <th scope="row" id="96"></th>
          <td id="name96"></td>
          <td id="wallet96"></td>
          <td id="bank96"></td>
          <td id="net96"></td>
        </tr>
        <tr id="hide97">
          <th scope="row" id="97"></th>
          <td id="name97"></td>
          <td id="wallet97"></td>
          <td id="bank97"></td>
          <td id="net97"></td>
        </tr>
        <tr id="hide98">
          <th scope="row" id="98"></th>
          <td id="name98"></td>
          <td id="wallet98"></td>
          <td id="bank98"></td>
          <td id="net98"></td>
        </tr>
        <tr id="hide99">
          <th scope="row" id="99"></th>
          <td id="name99"></td>
          <td id="wallet99"></td>
          <td id="bank99"></td>
          <td id="net99"></td>
        </tr>
        <tr id="hide100">
          <th scope="row" id="100"></th>
          <td id="name100"></td>
          <td id="wallet100"></td>
          <td id="bank100"></td>
          <td id="net100"></td>
        </tr>
      </tbody>
    </table>
    <div class="theme-container shadow-dark">
    <img id="theme-icon"    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg" alt="ERR">
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
      setInterval(function() {

      total_wallet = 0
      total_bank = 0
      total_net = 0
      
      fetch("/api_test").then(res => res.json()).then(out => {
        i = +out.length - +out.length
        out.forEach(() => {
          if (i <= out.length) {
            document.getElementById(`name${i}`).innerHTML = out[i].name;
            document.getElementById(`wallet${i}`).innerHTML = out[i].wallet_unformatted;
            document.getElementById(`bank${i}`).innerHTML = out[i].bank_unformatted;
            document.getElementById(`net${i}`).innerHTML = out[i].net_unformatted;
            j = i
            document.getElementById(`${i}`).innerHTML = j + 1;
            total_wallet = +total_wallet + out[i].wallet
            total_bank = +total_bank + out[i].bank
            total_net = +total_net + out[i].net
          }
          if (out[i] == 'undefined') {
            out[i].name = ''
            out[i].wallet = ''
            out[i].bank = ''
            out[i].net = ''
            j = ''
          }
          i = +i + +1
        })
        const numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
        const length = +out.length - +1
        numbers.forEach((number) => {
          if (number > length) {
            document.getElementById(`hide${number}`).style.display += "none";
          }

        })

        /* totalwallet = new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(total_wallet);
        totalbank = new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(total_bank);
        totalnet = new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(total_net); */

        const totalwallet = '⏣ ' + String(total_wallet).replace(/(.)(?=(\d{3})+$)/g,'$1,')
        const totalbank = '⏣ ' + String(total_bank).replace(/(.)(?=(\d{3})+$)/g,'$1,')
        const totalnet =  '⏣ ' + String(total_net).replace(/(.)(?=(\d{3})+$)/g,'$1,')

        document.getElementById(`accounts`).innerHTML = out.length;
        document.getElementById(`totalwallet`).innerHTML = totalwallet;
        document.getElementById(`totalbank`).innerHTML = totalbank;
        document.getElementById(`totalnet`).innerHTML = totalnet;

      }).catch(err => {
        throw err
      });
}, 1000)
      
    document.getElementById("discordButton").onclick = function () {
  window.open('https://discord.gg/a8w9JbxTEg', '_blank');
    }

function github(e) {
  window.open('https://github.com/tahagorme/slashy', '_blank');
}

const sun = "https://www.uplooder.net/img/image/55/7aa9993fc291bc170abea048589896cf/sun.svg";
const moon = "https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg"

  var theme = "dark";
  const root = document.querySelector(":root");
  const container = document.getElementsByClassName("theme-container")[0];
  const themeIcon = document.getElementById("theme-icon");
  container.addEventListener("click", setTheme);
  function setTheme() {
    switch (theme) {
      case "dark":
        setLight();
        theme = "light";
        break;
      case "light":
        setDark();
        theme = "dark";
        break;
    }
  }
  function setLight() {
    container.classList.remove("shadow-dark");
    container.classList.add("shadow-light");
    setTimeout(() => {
       document.getElementById("body").className = "bg-light";
       document.getElementById("navbar").className = "navbar navbar-light bg-light";
       document.getElementById("table1").className = "table table-light table-striped";
       document.getElementById("table2").className = "table table-light table-striped";
      themeIcon.classList.remove("change");
    }, 300);
    themeIcon.classList.add("change");
    themeIcon.src = sun;
  }
  function setDark() {
    container.classList.remove("shadow-light");
    container.classList.add("shadow-dark");

    setTimeout(() => {
       document.getElementById("body").className = "bg-dark";
       document.getElementById("navbar").className = "navbar navbar-dark bg-dark";
       document.getElementById("table1").className = "table table-dark table-striped";
       document.getElementById("table2").className = "table table-dark table-striped";
      themeIcon.classList.remove("change");
    }, 300);
    themeIcon.classList.add("change");
    themeIcon.src = moon;
  }
      
    </script>
  </body>
</html>
